<form action='/bookmarks' method='post'>
  <input type='text', name='title', placeholder='Webpage name'>
  <input type='text', name='url', placeholder='Webpage address'>
  <input type='submit', value='Add'>
</form>