<h1>Bookmark Manager</h1>

<form action='/bookmarks' method='get'>
  <input type="submit" value="Bookmarks">
</form>

<form action='/bookmarks/new' method='post'>
  <input type="submit" value="Add new bookmark">
</form>